<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <script src="/static/app/practice/js/jquery-1.8.3.min.js"></script>
    <script src="/static/app/practice/js/jQuery.fontFlex.js"></script>
    <script>
        $(document).ready(function (e) {
            //320宽度的时候html字体大小是20px;、640宽度的时候html字体大小是40px; 32
            $('html').fontFlex(18, 60, 20);
            $('h4').fontFlex(25, 80, 20);
            $('input').fontFlex(25, 80, 20);

        });
    </script>
</head>
<body>
<h4><a href="page/practice/pinyin">生成拼音练习excel</a></h4>
<h4><a href="page/practice/home">数学运算练习</a></h4>
<br/>
<br/>
<br/>
<br/>
</body>

</html>